body {
    margin: 0px;
    text-align: center;
    font-family: 'Roboto', arial;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    align-items: center;
    padding: 20px 0px 30px 20px;
}

a {
    text-decoration: none;
    color: grey;
}

ul {
    list-style-type: none;
    display: flex;
}

.modal {
    display: flex;
    margin: 0px;
    background-color: #1F2937;
    color: white;
    align-items: center;
    padding: 100px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #F9F8FA;
}

.content {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    font-size: 24px;
    color: #F9F8FA; 
    background-color: #3882F6;
}

img {
    width: 500px;
}

.icons {
    display: flex;
}

.quote {
    background-color: #e5e7eb;
}

.footer {
    display: flex;
}